set number
set relativenumber
set scrolloff=5
set wrap
""set cursorcolumn
set cursorline
set hlsearch
set incsearch
set ignorecase

let mapleader = " "

Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'

nnoremap <leader>e :NERDTreeToggle<CR>
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <S-h> gT
nnoremap <S-l> gt
